<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Detail</title>
  </head>
  <body>
    <h1>Book Details</h1>
    <table th:border="1">
      <tr>
        <th>Title</th>
        <td th:text="${book[0][1]}">Book Title</td>
      </tr>
      <tr>
        <th>Description</th>
        <td th:text="${book[0][2]}">Book Description</td>
      </tr>
      <tr>
        <th>Publish Date</th>
        <td th:text="${book[0][4]}">Publish Date</td>
      </tr>
      <tr>
        <th>Author</th>
        <td th:text="${book[0][5]}">Author Name</td>
      </tr>
      <tr>
        <th>Download Book</th>
        <td>
          <span th:if="${loggedIn}">
            <a
              th:href="@{/book/download/{fileName}(fileName=${book[0][3]})}"
              th:if="${book[0][3] != null}"
              >Download</a
            >
          </span>
          <span th:unless="${loggedIn}">
            <a th:href="@{/auth}">Login</a> to download
          </span>
        </td>
      </tr>
    </table>

    <form
      th:action="@{/book/rate/{bookId}/{username}(bookId=${bookId}, username=${username})}"
      method="post"
    >
      <input type="hidden" name="bookId" th:value="${bookId}" />
      <input type="hidden" name="username" th:value="${username}" />
      <label for="value">Rating:</label>
      <select id="value" name="value">
        <option value="1">1 Star</option>
        <option value="2">2 Stars</option>
        <option value="3">3 Stars</option>
        <option value="4">4 Stars</option>
        <option value="5">5 Stars</option>
      </select>
      <button type="submit">Submit Rating</button>
    </form>

    <a th:href="@{/}">Back to Book List</a>
  </body>
</html>
