<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Detail</title>
  </head>
  <body>
    <h1>Book Details</h1>
    <table th:border="1">
      <tr>
        <th>Title</th>
        <td th:text="${book[0][1]}">Book Title</td>
      </tr>
      <tr>
        <th>Description</th>
        <td th:text="${book[0][2]}">Book Description</td>
      </tr>
      <tr>
        <th>Publish Date</th>
        <td th:text="${book[0][4]}">Publish Date</td>
      </tr>
      <tr>
        <th>Author</th>
        <td th:text="${book[0][5]}">Author Name</td>
      </tr>
      <tr>
        <th>Download Book</th>
        <td>
          <span th:if="${loggedIn}">
            <a
              th:href="@{/book/download/{fileName}(fileName=${book[0][3]})}"
              th:if="${book[0][3] != null}"
              >Download</a
            >
          </span>
          <span th:unless="${loggedIn}">
            <a th:href="@{/auth}">Login</a> to download
          </span>
        </td>
      </tr>
    </table>

    <a th:href="@{/}">Back to Book List</a>
  </body>
</html>
