<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <h1>Change Password</h1>

    <form method="post" th:action="@{/auth/changepw}">
      <input type="hidden" th:name="username" th:value="${username}" />
      <div>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" required />
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required />
      </div>
      <div>
        <label for="confirmPassword">Confirm New Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
        />
      </div>
      <button type="submit">Change Password</button>
    </form>
  </body>
</html>
