<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <form th:action="@{/auth/adminlogin}" th:object="${user}" method="post">
      <div>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          th:field="*{username}"
          required
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          th:field="*{password}"
          required
        />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
      <p th:text="${error}" style="color: red"></p>
    </form>

    <a th:href="@{/auth/register}">Register</a>
  </body>
</html>
