<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
  </head>
  <body>
    <h1>Welcome to Book Library</h1>
    <h3 th:if="${loggedIn}">
      <span>
        Welcome, <span th:text="${username}"></span>!
        <a th:href="@{/auth/logout}">Logout</a>
      </span>
      <a th:href="@{'/auth/changepw/' + ${username}}">Change password</a>

      <p th:if="${Publisher}">
        <a th:href="@{/publisher}" target="_blank">Publisher dashboard</a>
      </p>

      <p th:if="${Administrator}">
        <a th:href="@{/admin}" target="_blank">Administrator dashboard</a>
      </p>
    </h3>

    <h3 th:unless="${loggedIn}">
      Do you want to
      <span><a th:href="@{/auth}">Login</a></span
      >?
    </h3>

    <form th:action="@{/search}" method="get">
      <label for="title">Title:</label>
      <input type="text" id="title" th:name="title" />
      <button type="submit">Search</button>
    </form>
    <br />
    <table th:border="1">
      <thead>
        <tr>
          <th>Title</th>
          <th>Publish Date</th>
          <th>Author</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="i : ${bookList}">
          <td th:text="${i[1]}"></td>
          <td th:text="${i[4]}"></td>
          <td th:text="${i[5]}"></td>
          <td>
            <a th:href="@{/{bookId}(bookId=${i[0]})}">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
